<%- include("partials/header.ejs", {removeImage: "removeImage"}) %>

<div class="posts-container">
  <h1 class="posts arbutus-font">Posts</h1>
  <% if(posts.length == 0){ %>
  <p style="font-size: 20px">
    No posts to show yet,
    <a href="/new-post" id="newPostLink"
      >click here to create your first post!</a
    >
  </p>
  <% }%>
  <ul>
    <% posts.forEach(post => { %>
    <li>
      <h3 class="post-title roboto-font" style="margin-bottom: 0">
        <%= post.title %>
      </h3>
      <p class="post-text arbutus-font" style="margin-bottom: 50px">
        <%= post.content %>
      </p>
      <small><%= post.date %></small>
    </li>
    <% }); %>
    <hr />
  </ul>
</div>

<%- include("partials/footer.ejs") %>
