<%- include("partials/header.ejs") %>
<!-- TODO: Create edit page -->
<div class="posts-container">
  <h1 class="posts-h1">My Posts</h1>

  <% if(posts.length == 0){ %>
  <p style="font-size: 20px">
    No posts to show yet,
    <a href="/new-post" id="newPostLink"
      >click here to create your first post!</a
    >
  </p>
  <% } else { %> <a class="arbutus-font new-post" href="/new-post">New Post</a><% } %>
  <ul>
    <% posts.forEach(post => { %>
    <li>
      <h2 class="post-title"><%= post.title %></h2>
      <small><%= post.date %></small>
      <p class="post-text arbutus-font" style="margin-bottom: 30px">
        <%= post.content %>
      </p>
      <a class="arbutus-font edit-post posts-button" href="/my-posts/edit/<%= post.id %>">Edit</a>
      <a class="arbutus-font delete-post posts-button" href="/my-posts/delete/<%= post.id %>">Delete</a>
    </li>
    <% }); %>
  </ul>
</div>
</main>
</body>
<script src="script.js">
</script>
</html>